@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.section {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.leftContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    font-size: 20px;
}

.appTitle {
    font-size: 28px;
    margin: 0;
}

.appSubtitle {
    margin: 0;
    color: var(--secondary-text);
}

.appDescription {
    margin: 0;
}

.img {
    object-fit: cover;
    justify-self: center;
    align-self: center;
    transition: transform 0.25s ease;
    animation: 1.25s ease 0s 1 running slide-in;
}

.img:hover {
    transform: scale(1.075);
}
