@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
    font-family: "Space Grotesk", Avenir, sans-serif;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #222237;
    --secondary-background: #424274;
    color: white;
    --secondary-text: #dfe8ff;
}

body {
    margin: 0;
}

a,
a:active {
    color: #dfe8ff !important;
    text-decoration: none;
}

a:hover {
    color: #a5beff !important;
}
