.grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 400px);
    column-gap: 4rem;
    margin: 4rem;
}

.spacer {
    height: 8rem;
}

.introContainer {
    margin: 4rem;
}

.sectionHeader {
    text-align: center;
    margin: 4rem 10rem;
}
