.header,
.text {
    margin: 2rem;
}

.title {
    font-size: 36px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.link {
    display: flex;
    align-items: center;
    background: transparent !important;
}

.subtitle {
    font-size: 26px;
}

.text {
    font-size: 20px;
}
