.display {
    font-size: 26px;
    padding: 2rem;
    border: transparent 1px solid;
    overflow-wrap: break-word;
    height: min-content;
    outline-offset: 0;
    outline: white 1px solid;
    transition:
        transform ease-in-out 0.5s,
        outline-offset ease-in-out 0.5s;
}

.display:hover {
    border: white 1px solid;
    outline-offset: 10px;
}
