@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
    font-family: "Space Mono", Avenir, sans-serif;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #222237;
    --secondary-background: #424274;
    color: white;
    --link: #bcfde0;
    --link-hover: #71ffbf;
    --bold: #ccedff;
    --italic: #d0bdff;
}

body {
    margin: 0;
}

a,
a:active {
    color: var(--link) !important;
    text-decoration: none;
}

a:hover {
    color: var(--link-hover) !important;
    text-decoration: underline;
}

b {
    color: var(--bold);
}

i {
    color: var(--italic);
}
